{{set . "title" "发布"}}
{{set . "home" "active" }}
{{append . "moreScripts" "js/editormd.min.js"}}
{{append . "moreScripts" "js/bootstrap.min.js"}}
{{template "header.html" .}}

{{template "content_tpl.html" .}}
{{template "navbar.html" .}}
<form action="" method="post" id="topic-form" role="form">
     <div class="form-group clearfix">
                    <div class="row">
                         <div class="col-md-3">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择话题... <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">以撒のNews</a></li>
                            <li><a href="#">相关的新闻</a></li>
                            <li><a href="#">同人文</a></li>
                            <li><a href="#">纯手绘</a></li>
                            <li><a href="#">漫画</a></li>
                            <li><a href="#">Mod</a></li>
                            <li><a href="#">Seed种子</a></li>
                            <li><a href="#">活动</a></li>
                          </ul>
                        </div><!-- /btn-group -->
                        <div class="col-md-9">
                            <div class="post-title">
                                <input id="PostForm-Title" name="Title" type="text" value="" class="form-control" placeholder="请输入标题" autocomplete="off">
                            </div>
                            
                        </div>
                    </div>
                </div>
	  <div class="form-group" >
		<div id="editormd" >
          <textarea style="display:none;">{{.form.Value "editormd-markdown-doc"}}</textarea>
		</div>
	  </div>
	  <input type="submit" id="submit" class="btn bun-small btn-success" value="{{.title}}" style="float:right;">
  </form>
<script type="text/javascript">
  var editor = editormd("editormd", {
            path : "/public/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
  });
</script>

{{template "footer.html" .}}
