{{set . "title" "发布"}}
{{set . "home" "active" }}
{{append . "moreScripts" "js/editormd.min.js"}}
{{append . "moreScripts" "js/bootstrap.min.js"}}
{{template "header.html" .}}

{{template "content_tpl.html" .}}
{{template "navbar.html" .}}
<form action="/dopush" method="post" id="topic-form" role="form">
     <div class="form-group clearfix">
                    <div class="row">
                         <div class="col-md-3">
                 		{{with $field := field "topic.Tag" .}}
						<select id="{{$field.Id}}" name="{{$field.Name}}" class="form-control select2-offscreen" placeholder="选择话题..." rel="select2" tabindex="-1">
							<option value="-1">请选择话题...</option>
							<option value="1">以撒のNews</option>
							<option value="2">其他新闻</option>
							<option value="3">同人文</option>
							<option value="4">纯手绘</option>
							<option value="5">漫画</option>
							<option value="6">美图</option>
							<option value="7">Mod</option>
							<option value="8">Seed种子</option>
							<option value="9">活动</option>
						</select>
						{{end}}	
                        </div><!-- /btn-group -->
                        <div class="col-md-9">
                            <div class="post-title">
            					{{with $field := field "topic.Title" .}}
                                <input id="{{$field.Id}}" name="{{$field.Name}}" type="text" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}"  class="form-control" required  placeholder="请输入标题" autocomplete="off">
                            	 <span class="help-inline erro">{{$field.Error}}</span>
								{{end}}	
							</div>
                        </div>
                    </div>
                </div>
	  <div class="form-group" >
		<div id="editormd" >
          <textarea style="display:none;" placeholder="请输入内容..." name="Body" ></textarea>
		</div>
	  </div>
	  <input type="submit" id="submit" class="btn bun-small btn-success" value="{{.title}}" style="float:right;width:100px;">
  </form>
<script type="text/javascript">
  var editor = editormd("editormd", {
            path : "/public/lib/" ,
			saveHTMLToTextarea : true
  });
</script>

{{template "footer.html" .}}
