{{set . "title" "话题内容"}}
{{set . "nav" "话题内容"}}
{{set . "home" "active" }}
{{append . "moreScripts" "js/editormd.min.js"}}
{{append . "moreScripts" "js/bootstrap.min.js"}}
{{template "header.html" .}}

{{template "content_tpl.html" .}}
{{template "navbar.html" .}}
<div id="topic-detail">
	<div class="page-header">
	  	<h1>{{.topic.Title}}</h1>
	    <div class="btn-group btn-group-sm pull-right">
	  	</div>
		  <div class="post-meta">
           <a class="tag" href="/#">{{gTag .topic.Tag}}</a>•作者 <a href="/#">{{.topic.UName}}</a>•<span class="time" title='{{.topic.CreateDate.Format "2006-01-02 15:04"}} '>{{timesince .topic.CreateDate}}发布</span>•<span class="last-reply">最后更新时间•<span class="time">{{timesince .topic.LastUpdate}}</span>
          </div>
	  </div>
	<div class="markdown-body editormd-preview-container">
		{{.topic.Body}}
	</div>
</div>
{{template "footer.html" .}}