{{set . "title" "分区"}}
{{set . "func" "active" }}
{{template "header.html" .}}

<div >
<ul style="margin:0;padding:0;">
	<li class="func-item-li">
		<a href="/#"  ><img src="/public/img/mod@2x.png">
		<p class="func-item">Mod合集</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  ><img src="/public/img/seed@2x.png">
		<p class="func-item">各种Seed</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  ><img src="/public/img/up@2x.png">
		<p class="func-item">直播主の资料</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  > <img src="/public/img/stor@2x.png">
		<p class="func-item">背景故事</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  > <img src="/public/img/luo@2x.png">
		<p class="func-item">基础掉落</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  > <img src="/public/img/earth@2x.png">
		<p class="func-item">地形物体</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  > <img src="/public/img/room@2x.png">
		<p class="func-item">房间的说</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  ><img src="/public/img/rush@2x.png">
		<p class="func-item">Boss Rush</p></a>
	</li>
	<li class="func-item-li">
		<a href="/#"  > <img src="/public/img/about@2x.png">
		<p class="func-item">关于本站</p></a>
	</li>
</ul>
</div>
{{template "footer.html" .}}
