{{set . "title" "新闻"}}
{{set . "home" "active" }}
{{template "header.html" .}}

<div class="content-list">
	<div class="post">
		<div class="avatar">
			<a href="#" title="88250">
				<img src="http://avatar.golanghome.com/Fv48GshWyDH-exd813V7Cirt_Wup?imageView2/1/w/48/h/48">
			</a>
		</div>
		<h3 class="title">
			<a href="#">《以撒的结合》制作人新作《指控（Fingered）》公布</a>
		</h3>
		<div class="meta">
			<a class="tag" href="#">新闻</a> • <a href="#" class="tag" >以撒</a> • <a href="#">joveth</a> • <span class="time">22小时前</span>
			<div class="data hidden-xs pull-right">
				  1 <img src="/public/img/coment.png">&nbsp;&nbsp;
				  10 <img src="/public/img/read.png">
			</div>
		</div>
	</div>
		<div class="post">
		<div class="avatar">
			<a href="#" title="88250">
				<img src="http://avatar.golanghome.com/Fo81qjLo7hA0rJ909hG6DFnG2sdG?imageView2/1/w/48/h/48">
			</a>
		</div>
		<h3 class="title">
			<a href="#">以撒的结合相关新闻</a>
		</h3>
		<div class="meta">
			<a class="tag" href="#">新闻</a> • <a href="#" class="tag" >相关</a> • <a href="#">joveth</a> • <span class="time">22小时前</span>
			<div class="data hidden-xs pull-right">
				  1 <img src="/public/img/coment.png">&nbsp;&nbsp;
				  10 <img src="/public/img/read.png">
			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}
