{{set . "title" "手绘"}}
{{set . "paint" "active" }}
{{template "header.html" .}}

<div >
	<ul class="paint-ul">
		<li>
		<a href="#"><img src="/public/img/test2.jpg" class="paint-img" />
		<div class="paint-div"><span class="paint-user">By.雪之奇丽qili</span><span class="paint-span">1<img src="/public/img/coment.png">&nbsp;&nbsp;10<img src="/public/img/read.png"></span>
		</div></a>
		</li>
		<li>
		<a href="#"><img src="/public/img/test3.jpg" class="paint-img" />
		<div class="paint-div"><span class="paint-user">By.雪之奇丽qili</span><span class="paint-span">1<img src="/public/img/coment.png">&nbsp;&nbsp;10<img src="/public/img/read.png"></span>
		</div></a>
		</li>
		<li>
		<a href="#"><img src="/public/img/test4.jpg" class="paint-img" />
		<div class="paint-div"><span class="paint-user">By.雪之奇丽qili</span><span class="paint-span">1<img src="/public/img/coment.png">&nbsp;&nbsp;10<img src="/public/img/read.png"></span>
		</div></a>
		</li>
		<li>
		<a href="#"><img src="/public/img/test5.jpg" class="paint-img" />
		<div class="paint-div"><span class="paint-user">By.雪之奇丽qili</span><span class="paint-span">1<img src="/public/img/coment.png">&nbsp;&nbsp;10<img src="/public/img/read.png"></span>
		</div></a>
		</li>
		<li>
		<a href="#"><img src="/public/img/test1.jpg" class="paint-img" />
		<div class="paint-div"><span class="paint-user">By.雪之奇丽qili</span><span class="paint-span">1<img src="/public/img/coment.png">&nbsp;&nbsp;10<img src="/public/img/read.png"></span>
		</div></a>
		</li>
	</ul>
</div>

{{template "footer.html" .}}
