<div style="margin-bottom:10px;width:200px;float:right">
 <a href="/push" class="btn bun-small btn-success" style="width:100%" ><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;发布话题</a>
 <div class="sidebox">
	<div class="box-heading">新手导航</div>
	<div class="box-body">
		<ul class="sidebar-list">
			
			<li><a href="/#">关于本站的发展，请多多支持！</a></li>
			
			<li><a href="#">手机版增加审贴功能，欢迎大家参与！</a></li>
			
			<li><a href="/#">关于发布各类型话题的说明！</a></li>
			
			<li><a href="/#">如何发布话题？</a></li>
			
			<li><a href="/#">欢迎新人报道，都来露露脸，熟悉一下吧！</a></li>
			
		</ul>
	</div>
 </div>
  <div class="sidebox">
	<div class="box-heading">精华话题</div>
	<div class="box-body">
		<ul class="sidebar-list">
			
			<li><a href="/#">关于本站的发展，请多多支持！</a></li>
			
			<li><a href="/#">手机版增加审贴功能，欢迎大家参与！</a></li>
			
			<li><a href="/#">关于发布各类型话题的说明！</a></li>
			
			<li><a href="/#">如何发布话题？</a></li>
			
			<li><a href="/#">欢迎新人报道，都来露露脸，熟悉一下吧！</a></li>
		</ul>
	</div>
 </div>
</div>
<div  class="width_720">