<!DOCTYPE html>
{{append . "moreStyles" "css/mystyle.css"}}
{{append . "moreStyles" "css/editormd.logo.min.css"}}
{{append . "moreStyles" "css/editormd.min.css"}}
{{append . "moreStyles" "css/editormd.preview.min.css"}}
{{append . "moreScripts" "js/jquery-1.9.1.min.js"}}

<html>
  <head>
    <title>{{.title}} - 以撒の窝</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/fav.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
  <div class="main-nav">
    <div class="top-bar">
        <div class="top-bar-inner container">
		 <!--<img src="/public/img/iconfont-i.png" class="logo" />-->
          <ul class="ul-nav">
              <li class="{{.home}}">
                <a href="/" >首页</a>
                {{if .recentCnt}}
                {{if gt .recentCnt 0}}
                <span class="navbar-news " title="最近1小时有{{.recentCnt}}个更新">{{.recentCnt}}</span>
                {{end}}
                {{end}}
              </li>
              <li class="{{.article}}">
                <a href="/article" title="同人文">同人</a>
              </li>
              <li class="{{.paint}}">
                <a href="/paint" title="萌萌哒手绘">手绘</a>
              </li>
              <li class="{{.isaac}}">
                <a href="/isaac" title="All of the 图鉴">图鉴</a>
              </li>
              <li class="{{.func}}">
                <a href="/func" title="各模块">分区</a>
              </li>
			  <li class="{{.activity}}">
                <a href="/activity" title="Some activities">活动</a>
              </li>
			   <li class="{{.message}}">
                <a href="/message" title="留言">留言</a>
              </li>
			   <li class="{{.mobile}}">
                <a href="/mobile" title="客户端">手机版</a>
              </li>
              <li><form class="navbar-search pull-left" action="#">
              	<input type="text" class="search" name="kw" placeholder="图鉴搜索">
            	</form>
              </li>
			  <li style="float:right!important;" >
                <div>
				 <a href="/#" title="登录后可可以做很多事情哦" >登录</a> | <a href="/#" title="Register." >注册</a>
				 </div>
				<!--<img src="/public/img/iconfont-i.png" class="userlogo" />-->
              </li>
          </ul>
        </div>
    </div>
	<div class="container" >